* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #f9ffa1;
}

/* top */
#top {
    background-image: url(myresume/top.jpg);
    background-repeat: no-repeat;
    height:200px; 
}

#flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mynames {
    text-align: center;
    margin-top: 80px;
    font-family: 'Lobster', cursive;
    color: #d3c99b;
    animation: blur 1.25s ease-out infinite;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

@keyframes blur {
    from{
    text-shadow:0px 0px 10px #fff,
    0px 0px 10px #fff, 
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 50px #fff,
    0px 0px 50px #fff,
    0px 0px 50px #7B96B8,
    0px 0px 150px #7B96B8,
    0px 10px 100px #7B96B8,
    0px 10px 100px #7B96B8,
    0px 10px 100px #7B96B8,
    0px 10px 100px #7B96B8,
    0px -10px 100px #7B96B8,
    0px -10px 100px #7B96B8;
    }
}

/* Navigation */
#nav {
    height: 40px;
    text-align: center;
    background-color: #1a0c02;
    box-shadow: 0 0 4px 3px;
    z-index: 1000;
}

#nav>nav {
    display: flex;
    margin-top: 11px;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #d8b92e;
}

a:hover {
    color: #e9d372;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

a:active {
    color: #d8b92e;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 45, 45);
}

.fixed {
    position: fixed;
    top: 0;
    
    width: 100%;
}

.fixed nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
/* for me */
#info {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 900;
}

@media screen and (max-device-width: 480px) {
    #info {
       display: flex;
       flex-direction: column;
       justify-content: center;
        z-index: 900;
        text-align: center;
}}

#aboutme p {
    text-indent: 1.5em;
    text-align: justify;
}

#aboutme {
    width: 300px;
    padding-left: 50px;
    font-family: 'Marmelad', sans-serif;
}
@media screen and (max-device-width: 480px) {
    #aboutme {
       padding-left: 10%;
       text-align: center;
    }}

.avatar {
    padding: 5px;
   height: 350px;
   width: 250px;
    border-radius: 50%/40%;
    
}
@media screen and (max-device-width: 480px) {
    .avatar {
       height: 200px;
       width: 150px;
    }}


/* education */
#education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    align-content: center;
    align-items: center;
    overflow: auto;
}

#education h1 {
    width: 200px;
}

#nkntu {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 1.5em;
    text-align: justify;
    align-items: center;
}

.nkntuimg {
    width: 60px;
    height: 50px;
    border-radius: 50%/50%;

}

/* my skills */
#myskills {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#html-css-logo {
    display: flex;
    flex-direction: row;
}

#js-jq-logo {
    display: flex;
    flex-direction: row;
}

#myskills img {
    height: 300px;
    width: 280px;
    margin: 30px;
}

@media screen and (max-device-width: 480px) {
#myskills img {
    height: 120px;
    width: 100px;
}}