* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #DCE3E3;
}


/* top */
#top {
    background-image: url(myresume/top.jpg);
    background-repeat: no-repeat;
    height:200px; 
}

#flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mynames {
    text-align: center;
    font-family: 'Lobster', cursive;
}


/* Navigation */
#nav {
    height: 40px;
    text-align: center;
    background-color: #1B242F;
    box-shadow: 0 0 10px 5px #143a66;
    z-index: 1000;
}

#nav>nav {
    display: flex;
    margin-top: 11px;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #f9f9f9cb;
}

a:hover {
    color: #e9d372;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

a:active {
    color: #d8b92e;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 45, 45);
}

.fixed {
    position: fixed;
    top: 0;
    
    width: 100%;
}

.fixed nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
/* for me */
#info {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 900;
}

@media screen and (max-device-width: 480px) {
    #info {
       display: flex;
       flex-direction: column;
       justify-content: center;
        z-index: 900;
        text-align: center;
}}

#aboutme p {
    text-indent: 1em;
    text-align: justify;
}

#aboutme {
    width: 300px;
    padding-left: 50px;
    font-family: 'Marmelad', sans-serif;
    font-weight: bold;
}
@media screen and (max-device-width: 480px) {
    #aboutme {
       padding-left: 10%;
       text-align: center;
    }}

    @keyframes bordera {
        to {border-radius: 50%/40%}
    }
    
    @keyframes hover-scale {
    to{transform: scale(1.2);}  
}
.avatar {
    padding: 5px;
   height: 350px;
   width: 250px;
    /* border-radius: 50%/40%; */
    animation-name: bordera;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@media screen and (max-device-width: 480px) {
    .avatar {
       height: 200px;
       width: 150px;
    }}


/* education */
#education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    align-content: center;
    align-items: center;
    overflow: auto;
}

#education h1 {
    width: 200px;
}

#nkntu {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 1.5em;
    text-align: justify;
    align-items: center;
}

.nkntuimg {
    width: 60px;
    height: 50px;
    border-radius: 50%/50%;

}

/* my skills */
#myskills {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #AABABA;
}

#html-css-logo {
    display: flex;
    flex-direction: row;
}

#js-jq-logo {
    display: flex;
    flex-direction: row;
}

#myskills img {
    height: 300px;
    width: 280px;
    margin: 30px;
}

@media screen and (max-device-width: 480px) {
#myskills img {
    height: 120px;
    width: 100px;
}}

.my-skil {
    margin: 20px;
    font-family: 'Lobster', cursive;
    opacity: 0;
}
.my-skil-ani {
    margin: 20px;
    font-family: 'Lobster', cursive;
    animation: linear-rgt 2s ease-in forwards;
    opacity: 1;
}

@keyframes linear-rgt {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }           
    100% {
        transform: translateX(0%);
    }   
}
@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }           
    100% {
        transform: translateY(0%);
    }   
}
@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    50%{
        transform: translateX(-8%);
    }
    65%{
        transform: translateX(4%);
    }
    80%{
        transform: translateX(-4%);
    }
    95%{
        transform: translateX(2%);
    }           
    100% {
        transform: translateX(0%);
    }
}
 
@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }
    50%{
        -webkit-transform: translateX(-8%);
    }
    65%{
        -webkit-transform: translateX(4%);
    }
    80%{
        -webkit-transform: translateX(-4%);
    }
    95%{
        -webkit-transform: translateX(2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
}
.html-css-js-logo {
    opacity: 0;
}
.html-css-js-logo-anim {
    animation: slideUp 2s ease-in forwards;
    opacity: 1;
}
/* portfolio */
#portfolio {
    height: 400px;
}
.my-jobs-site-obmin {
    width: 300px;
    height: 220px;
    background: url(myresume/dollar-exhange-rate.jpg) center center/cover;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;

}
.my-jobs-site-obmin a {
    display: block;
    width: 100%;
    height: 100%;
}

.my-jobs {
    text-align: center;
    margin: 20px;
    font-family: 'Lobster', cursive;
    opacity: 0;
}

#my-jobs-site {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.my-jobs-anim {
    text-align: center;
    margin: 20px;
    font-family: 'Lobster', cursive;
    animation: linear-rgt 2s ease-in forwards;
    opacity: 1;
}

.my-jobs-site-anim {
    animation: slideUp 2s ease-in forwards;
    opacity: 1;
}
/* contact with me */
#contact-me {
    background-color: #AABABA;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.mecon {
    margin-top: 30px;
    font-family: 'Lobster', cursive;
    opacity: 0;
}
#contact img {
    width: 20px;
    height: 18px;
}

#contact {
    height: 300px;
}

#contact p {
    padding: 5px;
    font-weight: bold;
}

.right {
    color: black;
    opacity: 0;
}
.right a {
    color: black;
}
.left {
    opacity: 0;
}
.mecon-ani {
    animation: linear-rgt 2s ease-in forwards; 
    opacity: 1;
}
.right-ani {
    animation: slideLeft 2s ease-in forwards;
    opacity: 1;
}
.left-ani {
    animation: linear-rgt 2s ease-in forwards; 
    opacity: 1;
}
/* up */
.text-block {
    width: 250px;
    margin: 50px;
  }
  
  #go-top {
    position: fixed; 
    bottom: 25px; 
    right: 70px;
    text-align: center;
    cursor:pointer; 
    display:none;
    width: 80px;
    height: 30px;
    background: #c0c0c0;
    line-height: 30px;
    border-radius: 5px;
  }
  
  #go-top:hover {
    background: #333;
    color: #fff;
  }